/* *{
    margin: 0;
    padding: 0;
} */
body{
    /* height: 100vh; */
    background-color: black;
    color: white;
}

strong{
    color: #00990F;
}

h1{
    font-weight: bold;
}

/* span{
    color: #00990F;
    border: 1px solid #00990F;
    padding: 10px;
} */

/* .titulo-destaque {
    color: #00990F;
} */